

/* Colors 

Orange-Red: #DD4A38;
Dark-Red: #7A2116;
Comp Green: #2AA54A;

*/

@import url(animate.min.css);

@import url(fonts.css);

::selection {
 	color: #fff;
 	text-shadow: none;
 	background: #333;
}

::-moz-selection {
 	color: #fff;
 	text-shadow: none;
 	background: #333;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #fff;
}

.rails {
	width: 100%;
	height: 100%;
	min-height: 600px;
	max-height: 900px;
	background: url(../img/bgRails.png);
	background-size: cover;
}

.topBar {
	background: url(../img/bgRails.png);
	background-size: cover;
	height:125px;
}

header {
	width: 100%;
	height: 105px;
	background: rgba(0, 0, 0, 0);
}

.head {
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
}

.logo {
	float: left;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: .3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
}
.logo:hover {
	text-decoration: none;
}

.logo h1 {
	font-family: 'Raleway';
	/*font-family: 'Rock Salt', cursive;*/

	text-transform: uppercase;
	font-size: 2.2em;
	font-weight: 200;
	color: #fff;
	padding-top: 45px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

.logo h1 span {
	color: rgba(255, 255, 255, .4);
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	transition: all .6s ease;
}

.logo:hover h1 span {
	color: #fff;
}



.nav {
	float: right;
	padding-top: 45px;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: .3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
}

.nav li {
	display: inline-block;
}

.nav li:last-child {
	padding-right: 0px;
}
.nav li a {
	font-family: 'icomoon';
	font-size: 1.7em;
	font-weight: 300;
	/*color: rgba(255, 255, 255, .5);*/
	color:#DD4A38;
	padding: 15px;
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	transition: color .4s ease;
}

.nav li a.current {
	color: rgba(255, 255, 255, .7);
}

.nav li a:last-child {
	padding-right: 0px;
}

.nav li a:hover {
	background:none;
	color: #222;
}

.main {
	margin-top: 160px;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-ms-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: .7s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
}

.title {
	margin-top: -20px;
	text-align: center;
}

.title span {
	padding: 10px;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 0 2px 0 #fff;
	color: #0cc93d;
	background: #fff;
}

.in {
	font-family: 'Raleway';
	text-align: center;
	-webkit-transition: color .6s ease;
	-moz-transition: color .6s ease;
	transition: color .6s ease;	
}

.in h1 {
	font-size: 5em;
	color: #fff;
	line-height: 1;
}

.in small {
	font-size: 2em;
	color: rgba(255, 255, 255, .8);
	line-height: 1.7em;
}

.cont .button {
	font-family: 'Raleway';
	font-size: 30px;
	color: #fff;
	padding: 15px;
	padding-top:25px;
	line-height: 12px;
	background: #DD4A38;
	display: inline-block;
	margin-top: 30px;
	border-radius: 3px;
	text-transform: uppercase;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;	
}

.cont:hover .button {
	background: #DD4A38;
}

.cont .arrow {
	font-family: 'icomoon';
	font-size: 40px;
	display: inline-block;
	margin-top: -50px;
	opacity: 0;
	visibility: hidden;
	color: #DD4A38;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	transition: all .6s ease;
}

.cont:hover .arrow {
	margin-top: 20px;
	opacity: 1;
	visibility: visible;
}



/* Photo page */
.photo-page, .work-page {
	/*background: #d5ccaf repeat top center;*/
}

.photo-page * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.photo-page header {
	/*background: #52445b repeat top center;*/
}

.photo-page h1 {
	text-align: center;
	font-size: 2.2em;
}

.photo-page header h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 8px;
}

.photo-page .inside {
	padding: 2% 0;
	width: 90%;
	margin: 0 auto;	
	margin-bottom: -75px;
	padding-top: 50px;
}

.rss-box {
	width: 90%;
	margin: 0 auto;
	padding: 5% 0;
}


/*Clear fix*/
/* For modern browsers */
.rss-items:before,
.rss-items:after {
    content:"";
    display:table;
}

.rss-items:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.rss-items {
    zoom:1;
}


.rss-items li {
	/* float: left;  */
	width: 33%;
	height: 33%;
	display: inline-block;
	padding: 2%;
	list-style-type: none;
	position: relative;
}

.rss-items li br {
	display: none;
}

.rss-items li a {
	display: none;
}

.rss-items li:hover a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 50% 0 0 0;
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-align: center;
	text-shadow: 0px 1px 0px #000000;
}

.rss-items li:nth-child(3n+1) {
	margin-left: 0;
}

.rss-items img {
	display: block;
	width: 100%;
	height: auto;
	
	-webkit-box-shadow:  0px 5px 5px 2px rgba(0, 0, 0, 0.1);
	        box-shadow:  0px 5px 5px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) { 
	.rss-items li {
		width: 49%;
	}
	
}

@media screen and (max-width: 320px) { 
	.rss-items li {
		width: 100%;
	}
	
	.photo-page header h1 {
		font-size: 1em;
	}
	
	.photo-page .connect {
		width: 100%;
	}
	
	.photo-page .connect h2 {
		font-size: 2em;
	}
	
}


/* Lab */
.lab{
	/*border: 3px solid #999;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;*/
    position: absolute;
    /*left:20px;
    top:214px;*/
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}​
