.rss-item, .animated, .slideHeader, .gallery, .containerfadeIn, .containerfadeOut, .thumb li span.fadeInDown {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }


@-webkit-keyframes bounceBottom1 {
  0% {
    -webkit-transform: translateX(404px) translateY(-185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceBottom1 {
  0% {
    -moz-transform: translateX(404px) translateY(-185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceBottom1 {
  0% {
    -ms-transform: translateX(404px) translateY(-185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceBottom1 {
  0% {
    -o-transform: translateX(404px) translateY(-185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceBottom1 {
  0% {
    transform: translateX(404px) translateY(-185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceBottom1 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceBottom1;
  -moz-animation-name: bounceBottom1;
  -ms-animation-name: bounceBottom1;
  -o-animation-name: bounceBottom1;
  animation-name: bounceBottom1; 

}

@-webkit-keyframes bounceBottom2 {
  0% {
    -webkit-transform: translateX(144px) translateY(-185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceBottom2 {
  0% {
    -moz-transform: translateX(144px) translateY(-185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceBottom2 {
  0% {
    -ms-transform: translateX(144px) translateY(-185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceBottom2 {
  0% {
    -o-transform: translateX(144px) translateY(-185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceBottom2 {
  0% {
    transform: translateX(144px) translateY(-185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceBottom2 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceBottom2;
  -moz-animation-name: bounceBottom2;
  -ms-animation-name: bounceBottom2;
  -o-animation-name: bounceBottom2;
  animation-name: bounceBottom2; }

@-webkit-keyframes bounceBottom3 {
  0% {
    -webkit-transform: translateX(-144px) translateY(-185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceBottom3 {
  0% {
    -moz-transform: translateX(-144px) translateY(-185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceBottom3 {
  0% {
    -ms-transform: translateX(-144px) translateY(-185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceBottom3 {
  0% {
    -o-transform: translateX(-144px) translateY(-185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceBottom3 {
  0% {
    transform: translateX(-144px) translateY(-185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceBottom3 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceBottom3;
  -moz-animation-name: bounceBottom3;
  -ms-animation-name: bounceBottom3;
  -o-animation-name: bounceBottom3;
  animation-name: bounceBottom3; }

@-webkit-keyframes bounceBottom4 {
  0% {
    -webkit-transform: translateX(-404px) translateY(-185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceBottom4 {
  0% {
    -moz-transform: translateX(-404px) translateY(-185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceBottom4 {
  0% {
    -ms-transform: translateX(-404px) translateY(-185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceBottom4 {
  0% {
    -o-transform: translateX(-404px) translateY(-185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceBottom4 {
  0% {
    transform: translateX(-404px) translateY(-185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceBottom4 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceBottom4;
  -moz-animation-name: bounceBottom4;
  -ms-animation-name: bounceBottom4;
  -o-animation-name: bounceBottom4;
  animation-name: bounceBottom4; }

@-webkit-keyframes bounceTop1 {
  0% {
    -webkit-transform: translateX(404px) translateY(185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceTop1 {
  0% {
    -moz-transform: translateX(404px) translateY(185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceTop1 {
  0% {
    -ms-transform: translateX(404px) translateY(185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceTop1 {
  0% {
    -o-transform: translateX(404px) translateY(185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceTop1 {
  0% {
    transform: translateX(404px) translateY(185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceTop1 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceTop1;
  -moz-animation-name: bounceTop1;
  -ms-animation-name: bounceTop1;
  -o-animation-name: bounceTop1;
  animation-name: bounceTop1; 
}

@-webkit-keyframes bounceTop2 {
  0% {
    -webkit-transform: translateX(144px) translateY(185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceTop2 {
  0% {
    -moz-transform: translateX(144px) translateY(185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceTop2 {
  0% {
    -ms-transform: translateX(144px) translateY(185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceTop2 {
  0% {
    -o-transform: translateX(144px) translateY(185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceTop2 {
  0% {
    transform: translateX(144px) translateY(185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceTop2 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceTop2;
  -moz-animation-name: bounceTop2;
  -ms-animation-name: bounceTop2;
  -o-animation-name: bounceTop2;
  animation-name: bounceTop2; }

@-webkit-keyframes bounceTop3 {
  0% {
    -webkit-transform: translateX(-144px) translateY(185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceTop3 {
  0% {
    -moz-transform: translateX(-144px) translateY(185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceTop3 {
  0% {
    -ms-transform: translateX(-144px) translateY(185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceTop3 {
  0% {
    -o-transform: translateX(-144px) translateY(185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceTop3 {
  0% {
    transform: translateX(-144px) translateY(185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceTop3 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceTop3;
  -moz-animation-name: bounceTop3;
  -ms-animation-name: bounceTop3;
  -o-animation-name: bounceTop3;
  animation-name: bounceTop3; }

@-webkit-keyframes bounceTop4 {
  0% {
    -webkit-transform: translateX(-404px) translateY(185px) scale(0); }

  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1); } }

@-moz-keyframes bounceTop4 {
  0% {
    -moz-transform: translateX(-404px) translateY(185px) scale(0); }

  100% {
    -moz-transform: translateX(0) translateY(0) scale(1); } }

@-ms-keyframes bounceTop4 {
  0% {
    -ms-transform: translateX(-404px) translateY(185px) scale(0); }

  100% {
    -ms-transform: translateX(0) translateY(0) scale(1); } }

@-o-keyframes bounceTop4 {
  0% {
    -o-transform: translateX(-404px) translateY(185px) scale(0); }

  100% {
    -o-transform: translateX(0) translateY(0) scale(1); } }

@keyframes bounceTop4 {
  0% {
    transform: translateX(-404px) translateY(185px) scale(0); }

  100% {
    transform: translateX(0) translateY(0) scale(1); } }

.bounceTop4 {
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: bounceTop4;
  -moz-animation-name: bounceTop4;
  -ms-animation-name: bounceTop4;
  -o-animation-name: bounceTop4;
  animation-name: bounceTop4; }

section.photo-feed * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}



